extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let houseid = toShow._id
    - let housetype_of_house = toShow.type_of_house
    - let houselocation = toShow.location
    - let housepincode = toShow.pincode
    div
        div.row
        div(class='houseAttr mr-3') house ID is:
        div(class='houseAttr') #{houseid}
        div.row
        div(class='houseAttr mr-3')  type of house is:
        div(class='houseAttr') #{housetype_of_house}
        div.row
        div(class='houseAttr mr-3') house Location is:
        div(class='houseAttr') #{houselocation}
        div.row
        div(class='houseAttr mr-3') house Pincode is:
        div(class='houseAttr') #{housepincode}
